body {
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.top-bar {
    width: 100%;
    height: 4rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-left: 2rem;
    box-sizing: border-box;
}

#close {
    padding: 1rem;
    cursor: pointer;
}